<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
	
	<bean id="msg.processor" 
		  class="com.octo.monitoring_flux.cep.processor.MonitoringMessageProcessor" />
	
	<!-- ****************** -->
	<!-- *  Camel Context * -->
	<!-- ****************** -->
	<camelContext  xmlns="http://camel.apache.org/schema/spring" trace="false">
		
		<!-- FrontEnd .to. CEP .to. ElasticSearch -->
		<route id="audit.frontend" trace="false">
			<from uri="jeromq://tcp://127.0.0.1:2200?socketType=PULL&amp;linger=0&amp;label=frontend" />
			<to uri="msg.processor" />
			<to uri="elasticsearch://duduche?operation=INDEX&amp;indexName=monitoring&amp;indexType=cep_to_elasticsearch"/>
		</route>
		
		<route id="middleend" trace="false">
			<from uri="jeromq://tcp://127.0.0.1:2201?socketType=PULL&amp;linger=0&amp;label=middleend" />
			<to uri="msg.processor" />
			<to uri="elasticsearch://duduche?operation=INDEX&amp;indexName=monitoring&amp;indexType=cep_to_elasticsearch"/>
		</route>	
		
		<route id="backend" trace="false">
			<from uri="jeromq://tcp://127.0.0.1:2202?socketType=PULL&amp;linger=0&amp;label=backend" />
			<to uri="msg.processor" />
			<to uri="elasticsearch://duduche?operation=INDEX&amp;indexName=monitoring&amp;indexType=cep_to_elasticsearch"/>
		</route>

	</camelContext>
	
</beans>