<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
	
	<bean id="msg.processor" 
		  class="com.octo.monitoring_flux.cep.processor.MonitoringMessageProcessor" />
	
	<!-- ****************** -->
	<!-- *  Camel Context * -->
	<!-- ****************** -->
	<camelContext  xmlns="http://camel.apache.org/schema/spring" trace="false">
		
		<!-- FrontEnd .to. CEP .to. ElasticSearch -->
		<route id="audit.frontend" trace="false">
			<from uri="jeromq://tcp://127.0.0.1:2200?socketType=PULL&amp;linger=0&amp;label=frontend" />
			<to uri="msg.processor" />
			<multicast stopOnException="true">
				<to uri="esper://monitoring" />
				<to uri="elasticsearch://duduche?operation=INDEX&amp;indexName=monitoring&amp;indexType=cep_to_elasticsearch"/>
			</multicast>
		</route>
		
		<route id="middleend" trace="false">
			<from uri="jeromq://tcp://127.0.0.1:2201?socketType=PULL&amp;linger=0&amp;label=middleend" />
			<to uri="msg.processor" />
			<multicast stopOnException="true">
				<to uri="esper://monitoring" />
				<to uri="elasticsearch://duduche?operation=INDEX&amp;indexName=monitoring&amp;indexType=cep_to_elasticsearch"/>
			</multicast>
		</route>
		
		<route id="backend" trace="false">
			<from uri="jeromq://tcp://127.0.0.1:2202?socketType=PULL&amp;linger=0&amp;label=backend" />
			<to uri="msg.processor" />
			<multicast stopOnException="true">
				<to uri="esper://monitoring" />
				<to uri="elasticsearch://duduche?operation=INDEX&amp;indexName=monitoring&amp;indexType=cep_to_elasticsearch"/>
			</multicast>
		</route>
		
		<!-- CEP -->
		
		<!-- compute tick persecond for messages -->
		<route id="cep.msg.record" trace="false">
			<from uri="esper://monitoring?eql=insert into TicksPerSecond
						select correlationId, count(*) as cnt 
						from com.octo.monitoring_flux.shared.MonitoringEvent.win:time_batch(1 sec) 
						group by correlationId" />
			<to uri="esper://monitoring" />
		</route>
		
		<!-- compute average message for last 10s and store to ES -->
		<route id="cep.msg.store" trace="false">
			<from uri="esper://monitoring?eql=
						select correlationId, avg(cnt) as avgCnt, cnt as MsgCnt 
						from TicksPerSecond.win:time(10 sec) 
						group by correlationId" />
			<to uri="elasticsearch://duduche?operation=INDEX&amp;indexName=monitoring&amp;indexType=msgcount " />
		</route>
		
		<!-- record elasped time -->
		<route id="cep.sla.record" trace="false">
			<from uri="esper://monitoring?eql=
						insert into SlaCapture
						select moduleType, elapsedTime 
						from com.octo.monitoring_flux.shared.MonitoringEvent.win:time_batch(1 sec) 
						where elapsedTime is not null" />
			<to uri="esper://monitoring" />
		</route>
		
		<!-- raise alert every 5s for invalid SLA -->
		<route id="cep.sla.violation" trace="false">
			<from uri="esper://monitoring?eql=
						select moduleType, elapsedTime
						from SlaCapture.win:time_batch(5 sec) 
						where elapsedTime > 0.3" />
			<to uri="elasticsearch://duduche?operation=INDEX&amp;indexName=monitoring&amp;indexType=violation " />
		</route>
		
		
	</camelContext>
	
</beans>